[submodule "posts-summernote"]
        path = packages/meteor-posts-summernote
        url = https://github.com/maodouio/meteor-posts-summernote.git
[submodule "image-upload"]
        path = packages/meteor-image-upload
        url = https://github.com/maodouio/meteor-image-upload.git
[submodule "post-likes"]
        path = packages/meteor-post-likes
        url = https://github.com/maodouio/meteor-post-likes.git
[submodule "post-comments"]
        path = packages/meteor-post-comments
        url = https://github.com/maodouio/meteor-post-comments.git
